.button-back {
  width: 108px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: inherit;
  cursor: pointer;
  transition: 0.2s all ease-in;

  &:hover {
    opacity: 0.8;
  }

  &__text {
    font-family: Karla, sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
}
