.characters-page {
  padding: 26px 0 16px 0;
  margin: 0 auto;

  &__banner {
    width: 100%;

    &-image {
      margin: 0 auto;
      width: 600px;
      height: 200px;
      user-select: none;
    }
  }

  &__body {
    display: flex;
    gap: 25px;
  }
}
