.characters-page {
  padding: 26px 0 16px;
  margin: 0 auto;

  &__banner {
    width: 100%;

    &-image {
      margin: 0 auto;
      width: 600px;
      height: 200px;
      user-select: none;
    }
  }

  &__body {
    width: 1044px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }

  &_error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
  }
}
